<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>

    <ion-title>O Prop</ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content>
  <button>Tests</button>
</ion-content> -->

<ion-tabs>
  <!-- Tab bar -->
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="overview">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tickets">
      <ion-icon name="ticket-outline"></ion-icon>
      <ion-label>Ticket</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="visitors">
      <ion-icon name="log-out-outline"></ion-icon>
      <ion-label>Security</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bookings">
      <ion-icon name="calendar-clear-outline"></ion-icon>
      <ion-label>Bookings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
<!-- <ion-router-outlet> </ion-router-outlet> -->

<!-- <ion-tab-bar>
  <ion-tab-button tab="schedule">
    <ion-icon name="calendar"></ion-icon>
    <ion-label>Schedule</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="schedule">
    <ion-icon name="calendar"></ion-icon>
    <ion-label>Schedule</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="schedule">
    <ion-icon name="calendar"></ion-icon>
    <ion-label>Schedule</ion-label>
  </ion-tab-button>
</ion-tab-bar> -->
