<ion-item
  lines="none"
  class="ion-no-padding prop-summary-item"
  (click)="viewBooking()"
>
  <ion-grid>
    <ion-row>
      <ion-col size="8">
        <div class="prop-summary-title">ClubHouse</div>
        <div class="prop-summary-text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        </div>
      </ion-col>
      <ion-col
        size="0.5"
        style="height: 20px; border-left: 1px solid black; margin: auto"
      ></ion-col>
      <!-- <span style="height: 20px; border: 1px solid black; margin: auto"></span> -->
      <ion-col size="3.5">
        <div class="prop-summary-text">12/04/2021 &nbsp; 10:00</div>
        <div class="prop-summary-title">
          <span style="float: right">R200.00</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
