<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title> Reply Ticket</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="background: white; position: fixed; width: 100%; z-index: 1">
    <div class="prop-divider">
      <!-- <ion-searchbar showCancelButton="focus"></ion-searchbar> -->
    </div>
    <div>
      <ion-card class="top-card">
        <ion-card-content>
          <form>
            <ion-textarea rows="4" placeholder="Message"></ion-textarea>
          </form>

          <div><ion-button expand="block">Attachment</ion-button></div>
          <div><ion-button expand="block">Reply</ion-button></div>
        </ion-card-content></ion-card
      >
    </div>
  </div></ion-content
>
