<ion-item
  lines="none"
  (click)="viewTenant()"
  class="ion-no-padding prop-summary-item"
>
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <img src="/assets/u.png" style="height: 50px; border-radius: 12px" />
      </ion-col>

      <ion-col size="10">
        <ion-row>
          <ion-col size="8" class="prop-summary-title">Manoj Tenant</ion-col>
          <ion-col class="prop-summary-text">12/04/2021</ion-col>
        </ion-row>
        <ion-row class="prop-summary-text">
          <ion-col size="8">Property Name</ion-col>
          <ion-col>Unit # 05</ion-col>
        </ion-row>

        <!-- <ion-row style="font-size: 12px">
          <ion-col size="5">078 999 1234</ion-col>
          <ion-col>email@example.com</ion-col>
        </ion-row> -->
      </ion-col>
    </ion-row>
    <ion-row class="prop-summary-text">
      <!-- <ion-col></ion-col> -->
      <ion-col size="6">078 999 1234</ion-col>
      <ion-col>email@example.com</ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
